flask
requests
flask-cors
python-dotenv
sentence-transformers
langchain_huggingface
qdrant-client
pymongo
google-generativeai
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-genai
protobuf
proto-plus
googleapis-common-protos
grpcio
grpcio-status
cachetools
pyasn1-modules
rsa
pyasn1
httplib2
google-auth-httplib2
uritemplate
pyparsing